@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #94B1F9;
}

button {
    background-color: #202142;
    color: #fff;
    border: 0;
    border-radius: 8px;
    color: #fff;
    width: auto;
    padding: 0 10px;
    height: 40px;
    cursor: pointer;
}

button:hover {
    transform: scale(0.98);
    opacity: 0.9;
}

button:disabled{
    background-color: #cccccc;
    color: #333;
    cursor:auto;
}

button:disabled:hover{
    transform:scale(1);
    opacity: 1;
}

main {
    background-color: #94B1F9;
    min-height: 100vh; 
    width: 100%; /* Set width to 100% */
    height: 100%;
    box-sizing: border-box; 
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}